.tweet{
    border: 3px solid lightgray;
    /* overflow: hidden; */
    /* this code equal the same code in  below  */
    
}
/* this code for solving problem of content as it don't cotain the box */
.clearfix::after{
     content:'';
    display: block; 
    clear: both; 

}
.avatar{
    width: 5rem;
    height: 5rem;
    background-color: gold;
    float: left;

}